ion-toolbar {
  --background: #ff9500;
  --color: black;
}

.comments {
  font-size: 0.9em;
}

ion-badge.score {
  --background: #ff9500;
  --color: black;
  font-size: 0.8em;
  --padding-end: 12px;
  --padding-start: 12px;
  --padding-top: 6px;
  --padding-bottom: 6px;
  border-radius: 2px;
  /* border: solid black 1px; */
}

ion-button.fav {
  --background: #c80000;
  --color: white;
  font-size: 0.85em;
  --padding-end: 12px;
  --padding-start: 12px;
  --padding-top: 6px;
  --padding-bottom: 6px;
  /* border: solid black 1px; */
}

ion-button {
  --background: #0da3d4;
}

.link {
  color: #0da3d4;
  text-decoration: underline;
  font-size: 1.1em;
}

ion-icon.share {
  font-size: 2em;
}
