<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Storie di {{ userId }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item button *ngFor="let story of stories" [routerLink]="['/story', story.id]">
      <ion-label>
        <ion-text>{{ story.title }}</ion-text>
        <ion-text color="medium"><p>Inviato il {{ story.readableDate }}</p></ion-text>
        <ion-text slot="end" *ngIf="story.descendants" class="comments">
          <ion-icon name="chatbox-outline"></ion-icon> {{ story.descendants }} commenti
        </ion-text>
      </ion-label>
      <ion-badge slot="end">
        <ion-icon name="star"></ion-icon>{{ story.score }}
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
