<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-list>
    <ion-item button *ngFor="let article of articles" [routerLink]="['/story', article.id]">
      <ion-label>
        <ion-text>{{ article.title }}</ion-text>
        <ion-text color="medium"><p>Da {{ article.by }} • {{ article.readableDate }}</p></ion-text>
        <ion-text slot="end" *ngIf="article.descendants" class="comments">
          <ion-icon name="chatbox-outline"></ion-icon> {{ article.descendants }} commenti
        </ion-text>
      </ion-label>
      <ion-badge slot="end">
        <ion-icon name="star"></ion-icon>{{ article.score }}
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

