<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Top News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let article of articles" [routerLink]="[article.id]">
      <ion-label>
        <ion-text>{{ article.title }}</ion-text>
        <ion-text color="medium"><p>Da {{ article.by }} {{ article.readableDate }}</p></ion-text>
        <ion-text slot="end" *ngIf="article.descendants" class="comments">{{ article.descendants }} commenti</ion-text>
      </ion-label>

      <ion-badge slot="end">{{ article.score }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
