<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Top News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let article of articles">
      <ion-label>
        <ion-text>{{ article.title }}</ion-text>
        <ion-card-subtitle><p>By {{ article.by }}</p></ion-card-subtitle>
      </ion-label>

      <ion-badge slot="end">{{ article.score }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
