<!-- comment.component.html -->
<ion-card *ngFor="let comment of comments">
  <ion-card-header>
    <ion-label color="medium">
      Commento di <ion-text class="by">{{ comment.by }}</ion-text> • {{ comment.readableDate }}
    </ion-label>
    <ion-label color="medium">
      <ion-icon name="arrow-redo-outline"></ion-icon> {{ comment.repliesCount }} risposte
    </ion-label>
  </ion-card-header>
  <ion-card-content>
    <ion-text [innerHTML]="comment.text" color="dark"></ion-text><br>
  </ion-card-content>
  <ion-card *ngIf="comment.replies.length > 0" class="nested-comments">
    <ion-card-content>
      <app-comment [comments]="comment.replies"></app-comment>
    </ion-card-content>
  </ion-card>
</ion-card>
