.by {
  color: #ff9500;
  text-decoration: underline;
}

ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}

ion-text {
  text-overflow: initial;
  white-space: normal;
}

.link {
  color: #0da3d4;
  text-decoration: underline;
  font-size: 0.86em;
}

.open {
  color: #ff9500;
  text-decoration: underline;
}
