<ion-list lines="full">
  <ion-item *ngFor="let comment of comments">
    <ion-label color="medium">
      <p>
        <ion-icon name="arrow-redo-outline"></ion-icon>
        <ion-text class="by">{{ comment.by }}</ion-text>
        • {{ comment.readableDate }}
      </p>
      <ion-text [innerHTML]="showFullText[comment.id] ? comment.text : (comment.text | slice:0:maxLength) + (comment.text.length > maxLength ? '...' : '')" color="dark"></ion-text>
      <ion-text button class="link" *ngIf="comment.text.length > maxLength" (click)="toggleText(comment.id)">
        {{ showFullText[comment.id] ? 'Nascondi' : 'Mostra' }}
      </ion-text>
      <ion-card *ngIf="comment.replies.length > 0" class="nested-comments">
        <app-comment [comments]="comment.replies"></app-comment>
      </ion-card>
    </ion-label>
  </ion-item>
</ion-list>
