<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profilo di {{ user?.id }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="user">
    <ion-item lines="none">
        <ion-badge slot="end"><ion-icon name="star"></ion-icon> {{ user.karma }} karma</ion-badge>
      <ion-label>
        <ion-text color="dark"><h1><ion-icon name="person"></ion-icon> {{ user.id }}</h1></ion-text>
        <ion-text color="medium"><p>Registrato il {{ user.readableDate }}</p></ion-text>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-text *ngIf="user.about" [innerHTML]="user.about" color="dark"></ion-text>
    </ion-card-content>
    <ion-card-content>
      <ion-button slot="start" expand="full" [routerLink]="['/user', user.id, 'submissions']">lista storie</ion-button>
      <ion-button slot="start" expand="full" >lista commenti</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
