ion-badge {
  --background: #ff9500;
  --color: black;
  border-radius: 3px;
  /** border: solid black 1px; **/
}

.comments {
  font-size: 0.8em;
  color: #ff9500;
}

ion-text {
  text-overflow: initial;
  white-space: normal;
}

ion-toolbar {
  --background: #0da3d4;
  --color: white;
}

.by {
  color: #ff9500;
}

.link {
  color: #0da3d4;
  font-size: 1.1em;
}
