<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ ask?.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="ask">
    <ion-card-header>
      <ion-card-subtitle>Inviato da {{ ask.by }} il {{ ask.readableDate }}</ion-card-subtitle>
      <ion-card-title>{{ ask.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text [innerHTML]="ask.text" color="dark"></ion-text><br>
      <ion-item lines="none">
        <ion-text color="secondary" color="medium">
          <ion-icon name="chatbox-ellipses"></ion-icon> {{ ask.descendants }} commenti
        </ion-text>
        <ion-badge slot="end">
          <ion-icon name="star"></ion-icon> {{ ask.score }} punti
        </ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
