<ion-card>
  <ion-card-header>
    <ion-card-title>
      Commenti
    </ion-card-title>
  </ion-card-header>
  <ion-list>
    <ion-card button *ngFor="let comment of comments.reverse()" color="light" [routerLink]="['/comment', comment.id]">
      <ion-card-header>
        <ion-label color="medium">
          Scritto da<ion-text color="secondary" class="by"> {{ comment.by }} </ion-text> il {{ comment.readableDate }}
        </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-text class="comment-content" [innerHTML]="comment.text"></ion-text>
        <ion-text class="replies" *ngIf="comment.repliesCount > 0">
          <p><ion-icon name="arrow-redo-outline"></ion-icon> {{ comment.repliesCount }} risposte</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-card>


