<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
    <ion-title>Commento di {{ comment?.by }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="comment && parent && replies">
    <ion-card color="light">
      <ion-card-content>
        <ion-card-subtitle>
          <ion-text color="medium">In risposta all'articolo di <ion-text class="by">{{ parent.by }}</ion-text> del {{ parent.readableDate }}</ion-text>
        </ion-card-subtitle>
        <ion-card-title>{{ parent.title }}</ion-card-title>
        <ion-item lines="none" color="light">
          <ion-text slot="start" color="medium" class="commenti">
            <i><ion-icon name="chatbox-ellipses-outline"></ion-icon> {{ parent.descendants }} commenti</i>
          </ion-text>
          <ion-text button [routerLink]="['/news', parent.id]" class="link" slot="end">
            <u><i><ion-icon name="newspaper-outline"></ion-icon> Vai all'articolo</i></u>
          </ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card color="light">
      <ion-card-header>
        <ion-label color="medium">
          Commento di <ion-text class="by">{{ comment.by }}</ion-text> • {{ comment.readableDate }}
        </ion-label>
        <ion-label color="medium">
          <ion-icon name="arrow-redo-outline"></ion-icon> {{ comment.repliesCount }} risposte
        </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-text [innerHTML]="comment.text" color="dark"></ion-text><br>
        <ion-list *ngFor="let reply of replies" color="dark">
          <ion-item>
            <ion-text><p>Risposta di {{ reply.by }}</p></ion-text>
            <ion-text><p>{{ reply.readableDate }}</p></ion-text>
            <ion-label [innerHTML]="reply.text"></ion-label>
          </ion-item>

          <ng-container *ngIf="reply.replies.length > 0">
              <ion-list>
                <ion-item *ngFor="let nestedReply of reply.replies">
                  <ion-label>
                    <ion-text><p>{{ nestedReply.by }}</p></ion-text>
                    <ion-text [innerHTML]="nestedReply.text"></ion-text>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ng-container>
        </ion-list>
      </ion-card-content>
    </ion-card>
    </ion-card>
</ion-content>
