<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
    <ion-title>Commento di {{ comment?.by }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="comment">
  <ion-card>
    <ion-card-content>
      <!--
      <ion-card-subtitle>
        <ion-text color="medium">In risposta all'articolo di <ion-text class="by">{{ parent.by }}</ion-text> del {{ parent.readableDate }}</ion-text>
      </ion-card-subtitle>
      -->

    <ion-label color="medium">
      Commento di <ion-text class="by">{{ comment.by }}</ion-text> • {{ comment.readableDate }}
    </ion-label>
      <ion-text [innerHTML]="comment.text" color="dark"></ion-text><br>
    </ion-card-content>
  </ion-card>
  <app-comment [comments]="comment.replies"></app-comment>
</ion-content>
