<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
    <ion-title>Commento di {{ comment?.by }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="comment && parent">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-text color="medium">In risposta all'articolo di <ion-text class="by">{{ parent.by }}</ion-text> del {{ parent.readableDate }}</ion-text>
      </ion-card-subtitle>
      <ion-card-title>
        <ion-text>{{ parent.title }}</ion-text>
      </ion-card-title>
      <ion-item lines="none" color="light">
        <ion-text slot="start" color="medium" class="commenti">
          <i><ion-icon name="chatbox-ellipses-outline"></ion-icon> {{ parent.descendants }} commenti</i>
        </ion-text>
        <ion-text button [routerLink]="['/news', parent.id]" class="link" slot="end">
          <u><i><ion-icon name="newspaper-outline"></ion-icon> Vai all'articolo</i></u>
        </ion-text>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-label color="medium">
        <p>Commento di <ion-text class="by">{{ comment.by }}</ion-text> • {{ comment.readableDate }}</p>
      </ion-label>
      <ion-label *ngIf="comment.repliesCount > 0" color="medium">
        <ion-text class="risposte"><ion-icon name="arrow-redo-outline"></ion-icon> {{ comment.repliesCount }} risposte</ion-text>
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-text [innerHTML]="comment.text" color="dark"></ion-text><br>
    </ion-card-content>
    <ion-card *ngIf="comment.repliesCount > 0">
      <app-comment [comments]="comment.replies"></app-comment>
    </ion-card>
  </ion-card>
</ion-content>
