<ion-menu side="start" [type]="menuType" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button [routerLink]="['/news']">
        <ion-menu-toggle>
          <ion-title><ion-icon name="home-outline"></ion-icon> Home</ion-title>
        </ion-menu-toggle>
      </ion-item>
      <ion-item [routerLink]="['/ask']">
        <ion-menu-toggle>
          <ion-title><ion-icon name="bar-chart-outline"></ion-icon> Ask</ion-title>
        </ion-menu-toggle>
      </ion-item>
      <ion-item [routerLink]="['/show']">
        <ion-menu-toggle>
          <ion-title><ion-icon name="image-outline"></ion-icon> Show</ion-title>
        </ion-menu-toggle>
      </ion-item>
      <ion-item [routerLink]="['/jobs']">
        <ion-menu-toggle>
          <ion-title><ion-icon name="bulb-outline"></ion-icon> Jobs</ion-title>
        </ion-menu-toggle>
      </ion-item>
    </ion-list>

    <div class="bottom-button-container">
      <ion-menu-toggle>
        <ion-button expand="full">Chiudi Menù</ion-button>
      </ion-menu-toggle>
    </div>
  </ion-content>
</ion-menu>
